
.form-group{
    margin-bottom: 40px;
}
section{
    padding: 100px 0;
}
#meals{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
img{
    max-width: 100%;
    width: 100%;
}
#meals h4{
    padding: 20px;
    margin: 0;
}
.single-meal{
    background-color: #F8F7F5;
    border: 5px;
    text-align: center;
    border-radius: 10px;
}
.single-meal.active{
    color: red;
}
.meal-box-detail{
    width: 700px;
    height: 90%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #333;
    overflow: scroll;
    opacity: 0;
    visibility: hidden;
}
.show{
    opacity: 1;
    visibility: visible;
}
.meal-box-detail img{
    margin-bottom: 15px;
}
#close{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background: tomato;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    display: block;
    cursor: pointer;
}

.notfound{
    display: none;
}
.notfound.addtext{
    display: block;
}
#ingredients-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
div#ingredients-thumb img {
    max-width: 320px;
}